.gameSection{
    width: 84%;
    height: 640px;
    margin: auto;
    padding: 10px;
}

.gameBoard {
    width: 610px;
    height: 620px;
    display: table;
    border: 2px groove black;
    float: left;
}
.gameInfo {
    margin-left: 640px;
    height: 620px;
    width: 220px;
}

.blackSquare, .whiteSquare, .redSquare {
    width: 75px;
    height: 75px;
    display: table-cell;
}

.blackSquare {
    background-color: black;
}

.whiteSquare {
    background-color: white;
    border: 1px solid black;
}
.redSquare {
    background-color: red;
}

#topRow {
    width: 610px;
    height: 75px;
    margin-left: 10px;
    margin-top: 10px;
}

#row {
    width: 610px;
    height: 75px;
    margin-left: 10px;
}

#bottomeRow {
    width: 620px;
    height: 75px;
    margin-left: 10px;
    margin-top: 10px;
}

.highlight {
    border: 1px solid red;
}

.highlightO {
    border: 3px solid #ffd800;
}

.highlightClick{
    border: 2px solid blue;
}

.centerImage {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.startButton{
    margin: 10px 0 0 0;
}

.gameText{
    height: 582px; 
    width: 400px;
    
}

.gamePraeText{
    height: 450px; 
    width: 400px;
    
}

.highlightNumber {
    border: 1px solid #7a7474;
}