@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<div style="margin-bottom: 50px; margin-top: 25px;">
    <div>Select Game</div>
    <ul>
        <li>
            @Html.ActionLink("Checkers", "Index", "Checkers")
        </li>
        <li>
            @Html.ActionLink("Praetorian", "Index", "Praetorian")
        </li>
    </ul>
</div>
